header{
    background-color:rgb(8, 234, 234)
}
#h11{
   border-radius: 0cqmax;
   border-color: blueviolet;
   
}
body{
    background-image: url();
    
    
}
h3{
    color:black
    
}
h4{
    text-align: center;
}
#h12{
    text-align: center;
    color:rgb(29, 233, 11)
}
img{
    border-radius: ;
}
th{

    font-size: medium;
    color:color-mix(in srgb, color percentage, color percentage)
}